p {
  font-size: medium;
}

.navbar {
  height: 50px;
  width: 100vw;
  margin: auto;
}

#header-wrapper {
  width: 100vw;
  height: 80px;
  background-color: navy;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#toggle {
  cursor: pointer;
  color: black;
  font-size: 60px;
  margin-left: 20px;
  background: transparent;
  border: none;
  padding: 10px;
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: #16181f;
  color: white;
  width: 500px;
  position: absolute;
  top: 50px;
  left: 0px;
}

#text-layer { 
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.7;
  line-height: 1.0;
}

#text-layer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}


